<div class="container">

          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{characters.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{characters.name}}</p>
          <p>
            <img src="{{characters.img}}" alt="character pic">
            <strong>Description:</strong></p>
            <a href="/">← Back To Home</a>
</div>
