<div id="game">
    {{> portraits/portraits-block}}
    <div class="roomDisplay">
        {{!-- {{> portraits/monsters-block}} --}}
    </div>
    <div class="textBlock">
        <label>
            <input type="radio" class="nes-radio" name="answer" id="fight" checked />
            <span>Fight</span>
        </label>
        <label>
            <input type="radio" class="nes-radio" name="answer" />
            <span>Run</span>
        </label>
    </div>
</div>