<div id="game">
    {{> portraits/portraits-block}}
    <div id="roomDisplay" class="room">
        {{!-- {{> portraits/monsters-block}} --}}
    </div>
    <div id="textBlock">
        
    </div>
    <audio autoplay loop preload id="roomScore" src="audio/roomScore.wav" type="audio/wav"></audio>
    <audio loop preload id="battleScore" src="audio/battleScore.wav" type="audio/wav"></audio>
</div>