<div id="game">
    {{> portraits/portraits-block}}
    <div id="roomDisplay" class="room">
        {{!-- {{> portraits/monsters-block}} --}}
    </div>
    <div id="textBlock">
        
    </div>
</div>
<audio autoplay loop preload id="roomScore" src="audio/roomScore.wav" type="audio/wav"></audio>
<audio loop preload id="battleScore" src="audio/battleScore.wav" type="audio/wav"></audio>
<audio loop id="titleScore" src="audio/titleScore.wav" type="audio/wav"></audio>
<audio id="hitSound" src="audio/hit.wav" type="audio/wav"></audio>
<audio id="critSound" src="audio/crit.wav" type="audio/wav"></audio>
<audio id="missSound" src="audio/miss.wav" type="audio/wav"></audio>