<div id="home">
  <div class="titlePage">
    <h1>{{msg}}</h1>
    <p id="startGame">Click HERE to begin</p>
  </div>
  <div class="charOverlay">
    <h2>Choose your hero</h2>
    {{#each characters}}
      {{#if isCharacter}}
        {{> portraits/charSelect}}
      {{/if}}
    {{/each}}
  </div>
</div>
<audio loop autoplay preload controls  id="titleScore">
  <source src="audio/titleScore.wav" type="audio/wav">
</audio>


