<div id="home">
  <div class="titlePage">
    <h1>{{msg}}</h1>
    <h2>This is our Home Page!</h2>
    <p id="startGame">Hit ENTER to begin</p>
  </div>
  <div class="charOverlay">
    <h2>Choose your hero</h2>
    {{#each characters}}
      {{#if isCharacter}}
        {{> portraits/charSelect}}
      {{/if}}
    {{/each}}
  </div>
</div>



